/* MEMBER 1 STYLES */
#member1 {
  background: lightblue;
  padding: 20px;
}

/* MEMBER 2 STYLES */
#member2 {
  background: lightgreen;
  padding: 20px;
}

/* MEMBER 3 STYLES */
#member3 {
  background: lightcoral;
  padding: 20px;
}

/* MEMBER 4 STYLES */
#member4 {
  background: #fff59d;
  padding: 20px;
}